# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db.env
